{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<h1>Blog</h1>
<br>
<h2>Frank has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>
<div class="row g-5">
{% for blog in blogs %}
    <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
    <h3>{{ blog.description|safe|truncatechars:100 }}</h3>
    <h3>{{ blog.description|striptags|truncatechars:100 }}</h3>
    <h5>{{ blog.date|date:'M d Y'|upper }}</h5>
    <br>
{% endfor %}
</div>
{% endblock %}
